/*
//  ==========================
//  Evgeniy Ivanov
//  Email: busforward@gmail.com
//  Skype: ivanov_ea
//  ==========================
 */
@import url("https://fonts.googleapis.com/css?family=Roboto:300&subset=cyrillic");
.grid:after, .footer:after, .main__content:after, .pagination__wrapper:after, .header:after, .filters:after, .filters__left:after, .filters__right:after, .alphabet:after, .inLine__item:after, .notice__item:after, .plate:after, .home__help:after {
  content: '';
  display: table;
  clear: both; }

.grid:before, .footer:before {
  content: '';
  display: table;
  clear: both; }

@font-face {
  font-family: "Futura Futuris C";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/FuturaFuturisC.eot?") format("eot"), url("../fonts/FuturaFuturisC.woff2") format("woff2"), url("../fonts/FuturaFuturisC.woff") format("woff"), url("../fonts/FuturaFuturisC.ttf") format("truetype"), url("../fonts/FuturaFuturisC.svg#Futura_Futuris_C") format("svg"); }

@font-face {
  font-family: "Futura Futuris C";
  font-style: normal;
  font-weight: bold;
  src: url("../fonts/FuturaFuturisC-Bold.eot?") format("eot"), url("../fonts/FuturaFuturisC-Bold.woff2") format("woff2"), url("../fonts/FuturaFuturisC-Bold.woff") format("woff"), url("../fonts/FuturaFuturisC-Bold.ttf") format("truetype"), url("../fonts/FuturaFuturisC-Bold.svg#Futura_Futuris_C") format("svg"); }

/* Global variables */
/* ======================================================================== */
/* Grid */
/* ======================================================================== */
/* Form */
/* ======================================================================== */
/* Breakpoints */
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

html, body, .wrapper {
  height: 100%;
  position: relative;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

/*! normalize.css v7.0.0 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in
 *    IE on Windows Phone and in iOS.
 */
html {
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers (opinionated).
 */
body {
  margin: 0;
  font-size: 100%;
  font-family: "Arial";
  color: #111111;
  line-height: 1.2; }

/**
 * Add the correct display in IE 9-.
 */
article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
  display: block; }

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/* Grouping content
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 * 1. Add the correct display in IE.
 */
figcaption,
figure,
main {
  /* 1 */
  display: block; }

/**
 * Add the correct margin in IE 8.
 */
figure {
  margin: 1em 40px; }

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */ }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/* Text-level semantics
   ========================================================================== */
/**
 * 1. Remove the gray background on active links in IE 10.
 * 2. Remove gaps in links underline in iOS 8+ and Safari 8+.
 */
a {
  background-color: transparent;
  /* 1 */
  -webkit-text-decoration-skip: objects;
  /* 2 */ }
  a:focus {
    outline: 0; }

/**
 * 1. Remove the bottom border in Chrome 57- and Firefox 39-.
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  -webkit-text-decoration: underline dotted;
  text-decoration: underline dotted;
  /* 2 */ }

/**
 * Prevent the duplicate application of `bolder` by the next rule in Safari 6.
 */
b,
strong {
  font-weight: inherit; }

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder; }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/**
 * Add the correct font style in Android 4.3-.
 */
dfn {
  font-style: italic; }

/**
 * Add the correct background and color in IE 9-.
 */
mark {
  background-color: #ff0;
  color: #000; }

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

/* Embedded content
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
audio,
video {
  display: inline-block; }

/**
 * Add the correct display in iOS 4-7.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Remove the border on images inside links in IE 10-.
 */
img {
  border-style: none;
  max-width: 100%; }

/**
 * Hide the overflow in IE.
 */
svg:not(:root) {
  overflow: hidden; }

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers (opinionated).
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  margin: 0;
  /* 2 */ }

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible;
  outline: 0; }

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none; }

/**
 * 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
 *    controls in Android 4.
 * 2. Correct the inability to style clickable types in iOS and Safari.
 */
button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
  /* 2 */ }

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText; }

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em; }

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */ }

/**
 * 1. Add the correct display in IE 9-.
 * 2. Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */ }

/**
 * Remove the default vertical scrollbar in IE.
 */
textarea {
  overflow: auto; }

/**
 * 1. Add the correct box sizing in IE 10-.
 * 2. Remove the padding in IE 10-.
 */
[type="checkbox"],
[type="radio"] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */ }

/**
 * Remove the inner padding and cancel buttons in Chrome and Safari on macOS.
 */
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */ }

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in IE 9-.
 * 1. Add the correct display in Edge, IE, and Firefox.
 */
details,
menu {
  display: block; }

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item; }

/* Scripting
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
canvas {
  display: inline-block; }

/**
 * Add the correct display in IE.
 */
template {
  display: none; }

/* Hidden
   ========================================================================== */
/**
 * Add the correct display in IE 10-.
 */
[hidden] {
  display: none; }

input:not([type]),
input[type=text],
input[type=password],
input[type=email],
input[type=url],
input[type=search],
input[type=tel],
input[type=number],
input[type=datetime],
textarea {
  background-color: #fff;
  border: 1px solid #ddd;
  padding: 6px 15px;
  outline: none;
  font-size: 14px;
  font-weight: 400;
  font-family: "Arial";
  border-radius: 5px;
  -webkit-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s; }
  input:not([type]):focus,
  input[type=text]:focus,
  input[type=password]:focus,
  input[type=email]:focus,
  input[type=url]:focus,
  input[type=search]:focus,
  input[type=tel]:focus,
  input[type=number]:focus,
  input[type=datetime]:focus,
  textarea:focus {
    border: 1px solid #bebebe;
    background-color: #f6f6f6; }
    input:not([type]):focus::-webkit-input-placeholder,
    input[type=text]:focus::-webkit-input-placeholder,
    input[type=password]:focus::-webkit-input-placeholder,
    input[type=email]:focus::-webkit-input-placeholder,
    input[type=url]:focus::-webkit-input-placeholder,
    input[type=search]:focus::-webkit-input-placeholder,
    input[type=tel]:focus::-webkit-input-placeholder,
    input[type=number]:focus::-webkit-input-placeholder,
    input[type=datetime]:focus::-webkit-input-placeholder,
    textarea:focus::-webkit-input-placeholder {
      color: red; }
    input:not([type]):focus:-moz-placeholder,
    input[type=text]:focus:-moz-placeholder,
    input[type=password]:focus:-moz-placeholder,
    input[type=email]:focus:-moz-placeholder,
    input[type=url]:focus:-moz-placeholder,
    input[type=search]:focus:-moz-placeholder,
    input[type=tel]:focus:-moz-placeholder,
    input[type=number]:focus:-moz-placeholder,
    input[type=datetime]:focus:-moz-placeholder,
    textarea:focus:-moz-placeholder {
      color: red; }
    input:not([type]):focus::-moz-placeholder,
    input[type=text]:focus::-moz-placeholder,
    input[type=password]:focus::-moz-placeholder,
    input[type=email]:focus::-moz-placeholder,
    input[type=url]:focus::-moz-placeholder,
    input[type=search]:focus::-moz-placeholder,
    input[type=tel]:focus::-moz-placeholder,
    input[type=number]:focus::-moz-placeholder,
    input[type=datetime]:focus::-moz-placeholder,
    textarea:focus::-moz-placeholder {
      color: red; }
    input:not([type]):focus:-ms-input-placeholder,
    input[type=text]:focus:-ms-input-placeholder,
    input[type=password]:focus:-ms-input-placeholder,
    input[type=email]:focus:-ms-input-placeholder,
    input[type=url]:focus:-ms-input-placeholder,
    input[type=search]:focus:-ms-input-placeholder,
    input[type=tel]:focus:-ms-input-placeholder,
    input[type=number]:focus:-ms-input-placeholder,
    input[type=datetime]:focus:-ms-input-placeholder,
    textarea:focus:-ms-input-placeholder {
      color: red; }
  input:not([type]).invalid,
  input[type=text].invalid,
  input[type=password].invalid,
  input[type=email].invalid,
  input[type=url].invalid,
  input[type=search].invalid,
  input[type=tel].invalid,
  input[type=number].invalid,
  input[type=datetime].invalid,
  textarea.invalid {
    background-color: #fff0f0;
    border: 1px solid red; }
  input:not([type])::-webkit-input-placeholder,
  input[type=text]::-webkit-input-placeholder,
  input[type=password]::-webkit-input-placeholder,
  input[type=email]::-webkit-input-placeholder,
  input[type=url]::-webkit-input-placeholder,
  input[type=search]::-webkit-input-placeholder,
  input[type=tel]::-webkit-input-placeholder,
  input[type=number]::-webkit-input-placeholder,
  input[type=datetime]::-webkit-input-placeholder,
  textarea::-webkit-input-placeholder {
    color: #111111; }
  input:not([type]):-moz-placeholder,
  input[type=text]:-moz-placeholder,
  input[type=password]:-moz-placeholder,
  input[type=email]:-moz-placeholder,
  input[type=url]:-moz-placeholder,
  input[type=search]:-moz-placeholder,
  input[type=tel]:-moz-placeholder,
  input[type=number]:-moz-placeholder,
  input[type=datetime]:-moz-placeholder,
  textarea:-moz-placeholder {
    color: #111111; }
  input:not([type])::-moz-placeholder,
  input[type=text]::-moz-placeholder,
  input[type=password]::-moz-placeholder,
  input[type=email]::-moz-placeholder,
  input[type=url]::-moz-placeholder,
  input[type=search]::-moz-placeholder,
  input[type=tel]::-moz-placeholder,
  input[type=number]::-moz-placeholder,
  input[type=datetime]::-moz-placeholder,
  textarea::-moz-placeholder {
    color: #111111; }
  input:not([type]):-ms-input-placeholder,
  input[type=text]:-ms-input-placeholder,
  input[type=password]:-ms-input-placeholder,
  input[type=email]:-ms-input-placeholder,
  input[type=url]:-ms-input-placeholder,
  input[type=search]:-ms-input-placeholder,
  input[type=tel]:-ms-input-placeholder,
  input[type=number]:-ms-input-placeholder,
  input[type=datetime]:-ms-input-placeholder,
  textarea:-ms-input-placeholder {
    color: #111111; }

input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  height: auto; }

input[type=checkbox],
input[type=radio] {
  padding: 0; }

input[type=checkbox]:not(:disabled),
input[type=radio]:not(:disabled) {
  cursor: pointer; }

input[type=checkbox],
input[type=radio] {
  display: inline-block;
  height: 14px;
  width: 14px;
  border: 1px solid #aaa;
  overflow: hidden;
  margin-top: -4px;
  vertical-align: middle;
  -webkit-appearance: none;
  outline: 0;
  background: 0 0;
  text-align: center;
  position: relative; }

input[type=radio] {
  border-radius: 50%; }

input[type=checkbox]:before,
input[type=radio]:before {
  display: block; }

input[type=radio]:checked:before {
  content: '';
  width: 6px;
  height: 6px;
  top: 50%;
  left: 50%;
  margin-top: -3px;
  margin-left: -3px;
  display: block;
  position: absolute;
  border-radius: 50%;
  background: #000; }

input[type=checkbox]:checked:before,
input[type=checkbox]:indeterminate:before {
  content: "\2714";
  font-size: 12px;
  -webkit-font-smoothing: antialiased;
  text-align: center;
  line-height: 13px;
  color: #000; }

input[type=checkbox]:indeterminate:before {
  content: "\f068"; }

input[type=checkbox]:disabled,
input[type=radio]:disabled {
  border-color: #ddd; }

input[type=radio]:disabled:checked:before {
  background-color: #aaa; }

input[type=checkbox]:disabled:checked:before,
input[type=checkbox]:disabled:indeterminate:before {
  color: #aaa; }

.btn {
  color: #8c0a14;
  font-family: "Arial";
  font-size: 14px;
  font-weight: 700;
  padding: 11px 15px 12px;
  border: none;
  outline: none;
  text-decoration: none;
  display: inline-block;
  background-color: #ffffff;
  border: 1px solid #929496;
  text-align: center;
  max-width: 100%;
  cursor: pointer;
  -webkit-transition: all 0.3ss;
  -o-transition: all 0.3ss;
  transition: all 0.3ss; }
  .btn_icon {
    color: #929496;
    padding-right: 5px; }
  .btn_send {
    background-color: #9c071f;
    color: #ffffff;
    border: none;
    font-family: "Arial";
    font-size: 14px;
    font-weight: 400; }
    .btn_send:after {
      background-image: url(/img/helptheme_send.png); }
  .btn_check {
    background-color: transparent;
    border: 1px solid #929496;
    color: #8c0a14;
    padding-left: 33px;
    background: url("../img/check.png") no-repeat left 14px center; }
    .btn_check:hover {
      background-color: #f8f8f8; }
    .btn_check_danger {
      background: url("../img/check-d.png") no-repeat left 14px center;
      background-color: #f8f8f8;
      border-color: #f8f8f8;
      color: #111111;
      cursor: default; }
  .btn_down {
    padding-left: 38px; }

.grid {
  margin-left: -30px;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }
  html[data-browser*="flexible"] .grid {
    display: -webkit-box;
    display: -moz-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: -ms-flex;
    display: flex; }
    html[data-browser*="flexible"] .grid > div {
      display: block; }
  html[data-browser*="not-flex"] .grid {
    display: block;
    font-size: 0;
    line-height: 0;
    letter-spacing: -1px; }
    html[data-browser*="not-flex"] .grid > div {
      display: inline-block;
      vertical-align: top;
      letter-spacing: normal;
      line-height: 1.2;
      font-size: 16px; }
  html[data-browser*="flexible"] .grid {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap; }
  html[data-browser*="flexible"] .grid-nowrap {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap; }
  .grid > div {
    padding-left: 30px;
    margin-bottom: 30px; }
    .grid > div.width_1 {
      width: 50%; }
    .grid > div.width_2 {
      width: 50%; }
    .grid > div.width_3 {
      width: 33.3%; }
    .grid > div.width_4 {
      width: 25%; }
    .grid > div.width_5 {
      width: 20%; }
    .grid > div.width_2_3 {
      width: 66%; }
    .grid > div.width_3_4 {
      width: 75%; }
  .grid__1 > div {
    width: 100%; }
  .grid__2 > div {
    width: 50%; }
  .grid__3 > div {
    width: 33.3%; }
  .grid__4 > div {
    width: 25%; }
  .grid__5 > div {
    width: 20%; }

[data-grid-match] .grid__item {
  background-color: #eee; }

@media (max-width: 991px) {
  .grid__4 > div {
    width: 50%; } }

body {
  min-width: 1300px; }

.wrapper {
  font-size: 16px;
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto;
  padding-left: 330px; }

.container_center {
  max-width: 100%;
  min-width: 100%;
  padding: 30px;
  margin-left: auto;
  margin-right: auto; }

.main__content {
  padding: 30px 29px; }

.breadcrumb {
  margin: 15px 0;
  padding: 0; }
  .breadcrumb li {
    display: inline-block;
    vertical-align: baseline; }
    .breadcrumb li:not(:first-child):before {
      content: '/';
      display: inline-block; }
    .breadcrumb li:last-child a {
      cursor: default;
      text-decoration: none; }
    .breadcrumb li a {
      font-size: 12px; }

.aside {
  position: fixed;
  width: 330px;
  height: 100%;
  overflow-x: auto;
  z-index: 10; }
  .aside__wrapper {
    padding: 12px 30px 150px;
    min-height: 100%;
    position: relative;
    background-color: #ececec; }

.pagination {
  margin: 0;
  padding: 0;
  letter-spacing: -1px;
  font-size: 0;
  float: left; }
  .pagination__wrapper {
    margin: 40px 0; }
  .pagination__action {
    float: right; }
  .pagination li {
    display: inline-block;
    vertical-align: top;
    min-width: 40px;
    margin-right: 2px;
    letter-spacing: initial;
    font-size: initial; }
    .pagination li a {
      display: block;
      text-align: center;
      line-height: 40px;
      text-align: center;
      background-color: #ececec;
      font-size: 14px;
      text-decoration: none;
      color: #8c0a14; }
      .pagination li a:hover, .pagination li a.active {
        color: #ffffff;
        font-weight: 600; }
      .pagination li a:hover {
        background-color: #c3c4c6; }
      .pagination li a.active {
        background-color: #929496;
        cursor: default; }
        .pagination li a.active:hover {
          background-color: #929496; }
    .pagination li.prev a:before {
      content: '<'; }
    .pagination li.next a:before {
      content: '>'; }

.header {
  padding: 15px 31px 10px;
  border-bottom: 1px solid #ececec;
  font-size: 14px; }
  .header__left {
    float: left; }
  .header__right {
    float: right; }
  .header__link {
    color: #111111;
    text-decoration: none; }
    .header__link:hover {
      text-decoration: underline; }
    .header__link [class*="icon-"] {
      margin-right: 6px; }
  .header .lang {
    margin-left: 37px; }

.account [class*="icon-"] {
  margin-right: 6px; }

.lang {
  display: inline-block;
  background-color: #f8f8f8;
  padding: 14px 10px;
  margin: -14px 0;
  position: relative; }
  .lang__current {
    cursor: pointer; }
  .lang.open .lang__list {
    display: block; }
  .lang__flag {
    margin-right: 8px;
    width: 23px; }
  .lang__list {
    display: none;
    background-color: #f8f8f8;
    list-style: none;
    padding: 16px 10px;
    margin: 0;
    width: 100%;
    left: 0;
    right: 0;
    position: absolute; }
  .lang__link {
    color: #111111;
    text-decoration: none; }
    .lang__link:hover {
      text-decoration: underline; }

.logo {
  display: inline-block;
  margin-bottom: 34px; }

[class*="icon-"] {
  display: inline-block;
  vertical-align: middle; }

.icon-attention:before {
  content: url("../img/attention.png"); }

.icon-user:before {
  content: url("../img/user.png"); }

.icon-quest:before {
  content: url("../img/question-mark.png"); }

.icon-quest-lg:before {
  content: url("../img/question-mark-lg.png"); }

.icon-arrow-right:before {
  content: url("../img/next.png"); }

.nav {
  margin: 0;
  padding: 0;
  list-style: none; }
  .nav__item {
    margin-bottom: 20px; }
    .nav__item.active > .nav__link {
      font-weight: 700; }
      .nav__item.active > .nav__link:hover {
        text-decoration: none; }
  .nav__link {
    font-family: "Futura Futuris C";
    font-weight: 400;
    font-size: 18px;
    color: #111111;
    text-decoration: none; }
    .nav__link:hover {
      text-decoration: underline; }
  .navSub {
    list-style: none;
    padding: 0 0 0 10px;
    margin: 13px 0; }
    .navSub__item.active {
      position: relative; }
      .navSub__item.active:before {
        content: '';
        position: absolute;
        background-color: #929496;
        top: 0;
        left: -50px;
        right: 6px;
        height: 100%;
        -webkit-transform: skewX(-22deg);
        -ms-transform: skewX(-22deg);
        transform: skewX(-22deg); }
      .navSub__item.active .navSub__link {
        position: relative;
        color: #ffffff;
        cursor: default; }
        .navSub__item.active .navSub__link:hover {
          text-decoration: none; }
    .navSub__link {
      color: #8c0a14;
      font-size: 14px;
      font-family: "Arial";
      text-decoration: none;
      padding: 7px 10px 7px 0;
      display: inline-block; }
      .navSub__link:hover {
        text-decoration: underline; }

.page__title {
  font-family: "Futura Futuris C";
  font-weight: 700;
  margin: 8px 0 40px;
  font-size: 30px; }

.filters {
  position: relative;
  margin-bottom: 28px; }
  .filters:before {
    content: '';
    position: absolute;
    left: -29px;
    right: -29px;
    top: 0;
    height: 50px;
    background-color: #f8f8f8;
    z-index: -1; }
  .filters__left {
    float: left; }
  .filters__item {
    float: left; }
  .filters__toggle {
    font-size: 14px;
    padding: 16px 40px 18px 16px;
    background: url("../img/down-arrow.png") no-repeat right 19px top 22px;
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
    cursor: pointer; }
    .filters__toggle.active {
      font-weight: 700;
      background: #ececec url("../img/up-arrow.png") no-repeat right 19px top 22px; }
  .filters__drop {
    background-color: #ececec;
    width: 100%;
    padding: 0 21px;
    height: 0;
    overflow: hidden;
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s; }
    .filters__drop.open {
      height: auto;
      padding: 21px; }
  .filters__right {
    float: right; }
  .filters__search {
    position: relative;
    float: left;
    margin: 10px 12px; }
    .filters__search:before {
      content: url("../img/searcher.png");
      position: absolute;
      top: 6px;
      right: 7px; }
    .filters__search input {
      border-color: #fff;
      border-radius: 0;
      width: 160px; }
  .filters .select2-container {
    display: inline-block;
    margin-right: 20px;
    width: auto !important; }
    .filters .select2-container--default .select2-selection--single {
      border: none;
      background-color: transparent;
      height: auto;
      outline: 0; }
      .filters .select2-container--default .select2-selection--single .select2-selection__rendered {
        color: #111111;
        font-size: 14px;
        -o-text-overflow: initial;
        text-overflow: initial;
        padding-left: 0;
        height: auto;
        padding-right: 24px;
        padding: 10px 24px 10px 0;
        outline: 0; }
      .filters .select2-container--default .select2-selection--single .select2-selection__placeholder {
        color: #111111; }

.select2-container--open .select2-selection__arrow {
  background: url("../img/up-arrow.png") no-repeat center !important; }

.select2-container--default .select2-results__option {
  padding: 10px; }
  .select2-container--default .select2-results__option--highlighted[aria-selected] {
    background-color: #929496; }

.select2-container--default .select2-dropdown {
  width: auto !important;
  white-space: nowrap;
  background-color: #ececec;
  font-size: 14px;
  border-color: #929496;
  border-radius: 0; }

.select2-container--default .select2-selection--single .select2-selection__arrow {
  background: url("../img/down-arrow.png") no-repeat center;
  height: 100%; }
  .select2-container--default .select2-selection--single .select2-selection__arrow b {
    display: none; }

.alphabet {
  list-style: none;
  padding: 0;
  margin: 0; }
  .alphabet > li {
    float: left;
    background-color: #ffffff;
    margin-right: 1px;
    margin-bottom: 1px; }
    .alphabet > li > a {
      color: #111111;
      text-decoration: none;
      text-transform: uppercase;
      display: block;
      font-weight: 400;
      width: 28px;
      line-height: 28px;
      text-align: center; }

.inLine__item {
  padding: 10px 0 40px;
  border-bottom: 1px solid #ececec;
  margin-bottom: 30px; }

.inLine__img {
  float: left;
  border: 1px solid #ececec;
  margin-right: 41px;
  width: 191px;
  text-align: center; }
  .inLine__img img {
    max-width: 96%;
    max-height: 96%;
    vertical-align: middle; }
  .inLine__img:before {
    content: '';
    display: inline-block;
    height: 128px;
    vertical-align: middle; }

.inLine__action {
  float: right; }

.inLine__center {
  overflow: hidden;
  margin-top: -4px; }

.inLine__name {
  font-family: "Futura Futuris C";
  font-weight: 700;
  line-height: 1.33;
  font-size: 18px;
  margin-bottom: 19px; }

.inLine__country {
  font-size: 14px;
  margin-bottom: 7px; }

.inLine__text {
  font-size: 15px;
  margin-bottom: 17px;
  font-family: "Roboto";
  font-weight: 300; }
  .inLine__text p {
    margin: 8px 0; }

.inLine__labelItem {
  font-size: 13px;
  display: inline-block;
  padding: 3px 11px 4px 21px;
  border-radius: 12px;
  background-color: #ececec;
  position: relative;
  margin-right: 9px;
  vertical-align: top;
  color: #333333;
  text-decoration: none; }
  .inLine__labelItem:before {
    content: '';
    width: 7px;
    height: 7px;
    background-color: #ffffff;
    border-radius: 7px;
    position: absolute;
    top: 8px;
    left: 8px; }
  .inLine__labelItem:hover {
    background-color: #f4f4f4;
    color: #424242; }

.footer {
  position: absolute;
  left: 0;
  right: 0;
  width: 100%;
  max-width: 210px;
  padding: 30px;
  bottom: 15px;
  color: #666666;
  font-size: 14px;
  line-height: 1.4; }
  .footer .container_center {
    padding-top: 10px;
    padding-bottom: 10px; }

.notice {
  font-size: 14px;
  margin-top: 30px;
  margin-bottom: 37px; }
  .notice__item {
    padding-bottom: 10px; }
  .notice__date {
    padding-top: 3px;
    display: inline-block;
    padding-right: 7px;
    float: left;
    color: #666666; }
  .notice__icon {
    float: left; }
    .notice__icon .fa {
      font-size: 19px;
      color: #f3bbbf;
      padding-right: 7px; }
  .notice__text {
    padding-top: 3px; }
  .notice__link {
    color: #8c0a14;
    padding-top: 10px;
    display: inline-block;
    text-decoration: none;
    margin-bottom: 10px; }
    .notice__link:hover {
      text-decoration: underline; }

.plate {
  display: block;
  -webkit-transition: all .5s;
  -o-transition: all .5s;
  transition: all .5s;
  border: 1px solid #ececec;
  padding: 20px 30px 28px 30px;
  text-decoration: none; }
  .plate__content {
    overflow: hidden;
    padding-right: 18px; }
  .plateCaption {
    color: #8c0a14;
    font-family: "Futura Futuris C";
    font-size: 18px;
    font-weight: 700; }
  .plateText {
    padding-top: 10px;
    color: #666666;
    font-family: "Arial";
    font-size: 13px;
    font-weight: 400;
    line-height: 18px; }
  .plate__icon {
    float: right; }
  .plate:hover {
    background-color: #fbeaec; }

.returning {
  display: block;
  color: #8c0a14;
  font-family: "Arial";
  font-size: 14px;
  font-weight: 400;
  text-decoration: none;
  padding-bottom: 5px; }
  .returning__icon {
    color: #929496;
    padding-right: 2px; }

.helptheme {
  font-family: "Arial";
  margin-top: 18px;
  font-size: 14px;
  color: #111111;
  font-weight: 400; }
  .helptheme_caption {
    font-family: "Futura Futuris C";
    font-size: 30px;
    font-weight: 700;
    padding: 12px 250px 21px 0; }
  .helptheme_details {
    margin-top: -28px;
    margin-bottom: 36px; }
    .helptheme_details div {
      padding-right: 15px; }
    .helptheme_details_date {
      display: inline-block;
      color: #666666;
      line-height: 24px; }
    .helptheme_details_text {
      display: inline-block; }
    .helptheme_details_act {
      display: inline-block; }
  .helptheme_messages_block {
    border-top: 1px solid #ececec;
    padding-top: 18px;
    padding-bottom: 26px; }
    .helptheme_messages_block_caption {
      font-weight: 700;
      line-height: 24px; }
    .helptheme_messages_block_date {
      display: block; }
    .helptheme_messages_block_text {
      line-height: 24px;
      padding-top: 2px; }
    .helptheme_messages_block_img {
      padding-top: 27px; }
  .helptheme_messages_form {
    background-color: #f8f8f8; }

.progrpr {
  font-family: "Arial";
  margin-top: 17px;
  margin-bottom: 90px;
  font-size: 14px;
  color: #111111;
  font-weight: 400; }
  .progrpr__title__free {
    font-size: 18px;
    margin-bottom: 30px; }
  .progrpr__btn {
    margin-top: -20px;
    padding-bottom: 48px;
    border-bottom: 1px solid #929496; }
  .progrpr__title {
    max-width: 820px; }
  .progrpr__content {
    margin-top: 34px; }
    .progrpr__content h2 {
      color: #111111;
      font-family: "Futura Futuris C";
      font-weight: 700;
      font-size: 24px;
      margin-bottom: 22px; }
    .progrpr__content p {
      display: block;
      line-height: 24px;
      font-size: 14px;
      padding-bottom: 10px;
      margin: 0; }
    .progrpr__content img {
      margin-top: 22px;
      margin-bottom: 15px; }
    .progrpr__content span {
      margin-top: 22px;
      color: #666666;
      max-width: 183px;
      display: inline-block;
      margin-left: 30px;
      line-height: 20px; }
    .progrpr__content h3 {
      font-family: "Futura Futuris C";
      font-weight: 700;
      font-size: 18px; }
  .progrpr__list {
    margin-top: -16px; }
    .progrpr__list__ul {
      padding-left: 15px; }
    .progrpr__list__li {
      color: #8c0a14; }
      .progrpr__list__li__text {
        color: #111111;
        line-height: 36px; }

.home__wrapbtn {
  display: inline-block;
  position: relative;
  margin-bottom: 35px; }
  .home__wrapbtn_img {
    position: absolute;
    top: 9px;
    left: 10px; }

.home__help {
  background-color: #f8f8f8;
  padding: 22px 0 25px 30px; }
  .home__help__img {
    float: left;
    padding-right: 14px; }
  .home__help__content__text {
    padding-top: 6px;
    font-size: 14px;
    font-weight: 400; }

/*# sourceMappingURL=style.css.map */