/*
//  ==========================
//  Evgeniy Ivanov
//  Email: busforward@gmail.com
//  Skype: ivanov_ea
//  ==========================
 */
@import url("https://fonts.googleapis.com/css?family=Roboto:300&subset=cyrillic");
.grid:after, .footer:after, .progrpr__content h1:after, .progrpr__content h2:after, .progrpr__content h3:after, .progrpr__content h4:after, .progrpr__content h5:after, .main__content:after, .pagination__wrapper:after, .header:after, .filters:after, .filters__left:after, .filters__right:after, .alphabet:after, .inLine__item:after, .notice__item:after, .plate:after, .accordion__item:after, .helptheme__messagesForm:after, .home__help:after {
  content: '';
  display: table;
  clear: both; }

.grid:before, .footer:before, .progrpr__content h1:before, .progrpr__content h2:before, .progrpr__content h3:before, .progrpr__content h4:before, .progrpr__content h5:before {
  content: '';
  display: table;
  clear: both; }

@font-face {
  font-family: "Futura Futuris C";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/FuturaFuturisC.eot?") format("eot"), url("../fonts/FuturaFuturisC.woff2") format("woff2"), url("../fonts/FuturaFuturisC.woff") format("woff"), url("../fonts/FuturaFuturisC.ttf") format("truetype"), url("../fonts/FuturaFuturisC.svg#Futura_Futuris_C") format("svg"); }

@font-face {
  font-family: "Futura Futuris C";
  font-style: normal;
  font-weight: bold;
  src: url("../fonts/FuturaFuturisC-Bold.eot?") format("eot"), url("../fonts/FuturaFuturisC-Bold.woff2") format("woff2"), url("../fonts/FuturaFuturisC-Bold.woff") format("woff"), url("../fonts/FuturaFuturisC-Bold.ttf") format("truetype"), url("../fonts/FuturaFuturisC-Bold.svg#Futura_Futuris_C") format("svg"); }

/* Global variables */
/* ======================================================================== */
/* Grid */
/* ======================================================================== */
/* Form */
/* ======================================================================== */
/* Breakpoints */
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

html, body, .wrapper {
  height: 100%;
  position: relative;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

/*! normalize.css v7.0.0 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in
 *    IE on Windows Phone and in iOS.
 */
html {
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers (opinionated).
 */
body {
  margin: 0;
  font-size: 100%;
  font-family: "Arial";
  color: #111111;
  line-height: 1.2; }

/**
 * Add the correct display in IE 9-.
 */
article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
  display: block; }

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/* Grouping content
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 * 1. Add the correct display in IE.
 */
figcaption,
figure,
main {
  /* 1 */
  display: block; }

/**
 * Add the correct margin in IE 8.
 */
figure {
  margin: 1em 40px; }

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */ }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/* Text-level semantics
   ========================================================================== */
/**
 * 1. Remove the gray background on active links in IE 10.
 * 2. Remove gaps in links underline in iOS 8+ and Safari 8+.
 */
a {
  background-color: transparent;
  /* 1 */
  -webkit-text-decoration-skip: objects;
  /* 2 */ }
  a:focus {
    outline: 0; }

/**
 * 1. Remove the bottom border in Chrome 57- and Firefox 39-.
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  -webkit-text-decoration: underline dotted;
  text-decoration: underline dotted;
  /* 2 */ }

/**
 * Prevent the duplicate application of `bolder` by the next rule in Safari 6.
 */
b,
strong {
  font-weight: inherit; }

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder; }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/**
 * Add the correct font style in Android 4.3-.
 */
dfn {
  font-style: italic; }

/**
 * Add the correct background and color in IE 9-.
 */
mark {
  background-color: #ff0;
  color: #000; }

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

/* Embedded content
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
audio,
video {
  display: inline-block; }

/**
 * Add the correct display in iOS 4-7.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Remove the border on images inside links in IE 10-.
 */
img {
  border-style: none;
  max-width: 100%; }

/**
 * Hide the overflow in IE.
 */
svg:not(:root) {
  overflow: hidden; }

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers (opinionated).
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  margin: 0;
  /* 2 */ }

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible;
  outline: 0; }

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none; }

/**
 * 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
 *    controls in Android 4.
 * 2. Correct the inability to style clickable types in iOS and Safari.
 */
button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
  /* 2 */ }

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText; }

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em; }

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */ }

/**
 * 1. Add the correct display in IE 9-.
 * 2. Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */ }

/**
 * Remove the default vertical scrollbar in IE.
 */
textarea {
  overflow: auto; }

/**
 * 1. Add the correct box sizing in IE 10-.
 * 2. Remove the padding in IE 10-.
 */
[type="checkbox"],
[type="radio"] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */ }

/**
 * Remove the inner padding and cancel buttons in Chrome and Safari on macOS.
 */
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */ }

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in IE 9-.
 * 1. Add the correct display in Edge, IE, and Firefox.
 */
details,
menu {
  display: block; }

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item; }

/* Scripting
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
canvas {
  display: inline-block; }

/**
 * Add the correct display in IE.
 */
template {
  display: none; }

/* Hidden
   ========================================================================== */
/**
 * Add the correct display in IE 10-.
 */
[hidden] {
  display: none; }

input:not([type]),
input[type=text],
input[type=password],
input[type=email],
input[type=url],
input[type=search],
input[type=tel],
input[type=number],
input[type=datetime],
textarea {
  padding: 6px 15px;
  outline: none;
  font-weight: 400;
  font-family: "Arial";
  color: #111111;
  font-size: 14px;
  border: none;
  border-bottom: 1px solid #929496;
  width: 100%;
  -webkit-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s; }
  input:not([type]):focus::-webkit-input-placeholder,
  input[type=text]:focus::-webkit-input-placeholder,
  input[type=password]:focus::-webkit-input-placeholder,
  input[type=email]:focus::-webkit-input-placeholder,
  input[type=url]:focus::-webkit-input-placeholder,
  input[type=search]:focus::-webkit-input-placeholder,
  input[type=tel]:focus::-webkit-input-placeholder,
  input[type=number]:focus::-webkit-input-placeholder,
  input[type=datetime]:focus::-webkit-input-placeholder,
  textarea:focus::-webkit-input-placeholder {
    opacity: 0;
    text-indent: 0; }
  input:not([type]):focus:-moz-placeholder,
  input[type=text]:focus:-moz-placeholder,
  input[type=password]:focus:-moz-placeholder,
  input[type=email]:focus:-moz-placeholder,
  input[type=url]:focus:-moz-placeholder,
  input[type=search]:focus:-moz-placeholder,
  input[type=tel]:focus:-moz-placeholder,
  input[type=number]:focus:-moz-placeholder,
  input[type=datetime]:focus:-moz-placeholder,
  textarea:focus:-moz-placeholder {
    opacity: 0;
    text-indent: 0; }
  input:not([type]):focus::-moz-placeholder,
  input[type=text]:focus::-moz-placeholder,
  input[type=password]:focus::-moz-placeholder,
  input[type=email]:focus::-moz-placeholder,
  input[type=url]:focus::-moz-placeholder,
  input[type=search]:focus::-moz-placeholder,
  input[type=tel]:focus::-moz-placeholder,
  input[type=number]:focus::-moz-placeholder,
  input[type=datetime]:focus::-moz-placeholder,
  textarea:focus::-moz-placeholder {
    opacity: 0;
    text-indent: 0; }
  input:not([type]):focus:-ms-input-placeholder,
  input[type=text]:focus:-ms-input-placeholder,
  input[type=password]:focus:-ms-input-placeholder,
  input[type=email]:focus:-ms-input-placeholder,
  input[type=url]:focus:-ms-input-placeholder,
  input[type=search]:focus:-ms-input-placeholder,
  input[type=tel]:focus:-ms-input-placeholder,
  input[type=number]:focus:-ms-input-placeholder,
  input[type=datetime]:focus:-ms-input-placeholder,
  textarea:focus:-ms-input-placeholder {
    opacity: 0;
    text-indent: 0; }
  input:not([type]).invalid,
  input[type=text].invalid,
  input[type=password].invalid,
  input[type=email].invalid,
  input[type=url].invalid,
  input[type=search].invalid,
  input[type=tel].invalid,
  input[type=number].invalid,
  input[type=datetime].invalid,
  textarea.invalid {
    background-color: #fff0f0; }
  input:not([type])::-webkit-input-placeholder,
  input[type=text]::-webkit-input-placeholder,
  input[type=password]::-webkit-input-placeholder,
  input[type=email]::-webkit-input-placeholder,
  input[type=url]::-webkit-input-placeholder,
  input[type=search]::-webkit-input-placeholder,
  input[type=tel]::-webkit-input-placeholder,
  input[type=number]::-webkit-input-placeholder,
  input[type=datetime]::-webkit-input-placeholder,
  textarea::-webkit-input-placeholder {
    color: #111111; }
  input:not([type]):-moz-placeholder,
  input[type=text]:-moz-placeholder,
  input[type=password]:-moz-placeholder,
  input[type=email]:-moz-placeholder,
  input[type=url]:-moz-placeholder,
  input[type=search]:-moz-placeholder,
  input[type=tel]:-moz-placeholder,
  input[type=number]:-moz-placeholder,
  input[type=datetime]:-moz-placeholder,
  textarea:-moz-placeholder {
    color: #111111; }
  input:not([type])::-moz-placeholder,
  input[type=text]::-moz-placeholder,
  input[type=password]::-moz-placeholder,
  input[type=email]::-moz-placeholder,
  input[type=url]::-moz-placeholder,
  input[type=search]::-moz-placeholder,
  input[type=tel]::-moz-placeholder,
  input[type=number]::-moz-placeholder,
  input[type=datetime]::-moz-placeholder,
  textarea::-moz-placeholder {
    color: #111111; }
  input:not([type]):-ms-input-placeholder,
  input[type=text]:-ms-input-placeholder,
  input[type=password]:-ms-input-placeholder,
  input[type=email]:-ms-input-placeholder,
  input[type=url]:-ms-input-placeholder,
  input[type=search]:-ms-input-placeholder,
  input[type=tel]:-ms-input-placeholder,
  input[type=number]:-ms-input-placeholder,
  input[type=datetime]:-ms-input-placeholder,
  textarea:-ms-input-placeholder {
    color: #111111; }

textarea {
  min-width: 100%;
  max-width: 100%;
  background-color: transparent; }

input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  height: auto; }

input[type=checkbox],
input[type=radio] {
  padding: 0; }

input[type=checkbox]:not(:disabled),
input[type=radio]:not(:disabled) {
  cursor: pointer; }

input[type=checkbox],
input[type=radio] {
  display: inline-block;
  height: 18px;
  width: 18px;
  overflow: hidden;
  margin-top: -4px;
  vertical-align: middle;
  -webkit-appearance: none;
  -moz-appearance: none;
  outline: 0;
  background: 0 0;
  text-align: center;
  position: relative;
  border-radius: 3px;
  background-color: #ffffff;
  border: 2px solid #929496; }

input[type=radio] {
  border-radius: 4px; }

input[type=checkbox]:before,
input[type=radio]:before {
  display: block; }

input[type=radio]:checked:before {
  content: "\f00c";
  font: normal normal normal 12px/1 FontAwesome;
  text-align: center;
  line-height: 18px;
  color: #fff;
  background-color: #932b31; }

input[type=checkbox]:checked:before,
input[type=checkbox]:indeterminate:before {
  content: "\f00c";
  font: normal normal normal 12px/1 FontAwesome;
  text-align: center;
  line-height: 18px;
  color: #fff;
  background-color: #932b31; }

input[type=checkbox]:checked {
  border: none;
  padding: 0; }

input[type=checkbox]:indeterminate:before {
  content: "\f068"; }

input[type=checkbox]:disabled,
input[type=radio]:disabled {
  border-color: #ddd; }

input[type=radio]:disabled:checked:before {
  background-color: #aaa; }

input[type=checkbox]:disabled:checked:before,
input[type=checkbox]:disabled:indeterminate:before {
  color: #aaa; }

.btn {
  font-family: "Arial";
  color: #ffffff;
  font-size: 14px;
  font-weight: 700;
  padding: 14px 23px;
  outline: none;
  display: inline-block;
  max-width: 100%;
  cursor: pointer;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
  border: none;
  text-align: center;
  text-decoration: none;
  position: relative; }
  .btn:hover {
    text-decoration: none; }
  .btn_icon .fa, .btn_icon img {
    width: 21px;
    display: inline-block;
    margin-right: 5px;
    vertical-align: middle; }
  .btn_check {
    background-color: transparent;
    border: 1px solid #929496;
    color: #8c0a14;
    padding-left: 33px;
    background: url("../img/check.png") no-repeat left 14px center; }
    .btn_check:hover {
      background-color: #f8f8f8; }
    .btn_check_danger {
      background: url("../img/check-d.png") no-repeat left 14px center;
      background-color: #f8f8f8;
      border-color: #f8f8f8;
      color: #111111;
      cursor: default; }
  .btn_warning {
    font-weight: 400;
    background-color: #8c0a14; }
    .btn_warning .fa {
      padding-right: 5px; }
  .btn_white {
    color: #8c0a14;
    border: 1px solid #929496;
    padding-left: 35px;
    text-decoration: none; }
    .btn_white_span {
      position: absolute;
      top: 11px;
      left: 10px; }
    .btn_white:hover {
      color: #111111; }
  .btn_red {
    background-color: #8c0a14;
    font-size: 18px;
    font-weight: 400; }
  .btn_gray {
    color: #9c071f;
    background-color: #ececec;
    font-weight: 400;
    position: relative;
    padding-left: 35px; }
    .btn_gray .fa {
      font-size: 16px;
      padding-right: 6px;
      position: absolute;
      left: 15px;
      top: 13px; }

.btn_check:hover, .btn_gray:hover {
  background-color: #c2c2c2;
  color: #9c071f; }

.btn_warning:hover, .btn_red:hover {
  background-color: #cd0929;
  border-color: #cd0929; }

.btn_send:hover {
  background-color: #cd0929;
  border-color: #cd0929; }

.grid {
  margin-left: -30px;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }
  html[data-browser*="flexible"] .grid {
    display: -webkit-box;
    display: -moz-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: -ms-flex;
    display: flex; }
    html[data-browser*="flexible"] .grid > div {
      display: block; }
  html[data-browser*="not-flex"] .grid {
    display: block;
    font-size: 0;
    line-height: 0;
    letter-spacing: -1px; }
    html[data-browser*="not-flex"] .grid > div {
      display: inline-block;
      vertical-align: top;
      letter-spacing: normal;
      line-height: 1.2;
      font-size: 16px; }
  html[data-browser*="flexible"] .grid {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap; }
  html[data-browser*="flexible"] .grid-nowrap {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap; }
  .grid > div {
    padding-left: 30px;
    margin-bottom: 15px; }
    .grid > div.width_1 {
      width: 50%; }
    .grid > div.width_2 {
      width: 50%; }
    .grid > div.width_3 {
      width: 33.3%; }
    .grid > div.width_4 {
      width: 25%; }
    .grid > div.width_5 {
      width: 20%; }
    .grid > div.width_2_3 {
      width: 66%; }
    .grid > div.width_3_4 {
      width: 75%; }
    .grid > div.width_25 {
      width: 25%; }
    .grid > div.width_40 {
      width: 40%; }
    .grid > div.width_80 {
      width: 80%; }
    .grid > div.width_60 {
      width: 60%; }
    .grid > div.width_100 {
      width: 100%; }
  .grid__1 > div {
    width: 100%; }
  .grid__2 > div {
    width: 50%; }
  .grid__3 > div {
    width: 33.3%; }
  .grid__4 > div {
    width: 25%; }
  .grid__5 > div {
    width: 20%; }

[data-grid-match] .grid__item {
  background-color: #eee; }

@media (max-width: 991px) {
  .grid__4 > div {
    width: 50%; } }

body {
  min-width: 1300px;
  background-color: #ececec; }

.wrapper {
  font-size: 16px;
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto;
  overflow: hidden; }
  .wrapper:after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #fff;
    z-index: -1; }

.container_center {
  max-width: 100%;
  min-width: 100%;
  padding: 30px;
  margin-left: auto;
  margin-right: auto; }

.main__content {
  padding: 30px 29px;
  background-color: #fff; }

a {
  color: #8c0a14;
  text-decoration: none;
  -webkit-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s; }
  a:hover {
    text-decoration: underline; }

.breadcrumb {
  margin: 15px 0;
  padding: 0; }
  .breadcrumb li {
    display: inline-block;
    vertical-align: baseline; }
    .breadcrumb li:not(:first-child):before {
      content: '/';
      display: inline-block; }
    .breadcrumb li:last-child a {
      cursor: default;
      text-decoration: none; }
    .breadcrumb li a {
      font-size: 12px; }

.aside {
  float: left;
  width: 330px;
  min-height: 100%;
  background-color: #ececec;
  z-index: 10; }
  .aside__wrapper {
    padding: 12px 30px 150px;
    min-height: 100%;
    position: relative; }

.pagination {
  margin: 0;
  padding: 0;
  letter-spacing: -1px;
  font-size: 0;
  float: left; }
  .pagination__wrapper {
    margin: 40px 0; }
  .pagination__action {
    float: right; }
  .pagination li {
    display: inline-block;
    vertical-align: top;
    min-width: 40px;
    margin-right: 2px;
    letter-spacing: initial;
    font-size: initial; }
    .pagination li a {
      display: block;
      text-align: center;
      line-height: 40px;
      text-align: center;
      background-color: #ececec;
      font-size: 14px;
      text-decoration: none;
      color: #8c0a14; }
      .pagination li a:hover, .pagination li a.active {
        color: #ffffff;
        font-weight: 600; }
      .pagination li a:hover {
        background-color: #c3c4c6; }
      .pagination li a.active {
        background-color: #929496;
        cursor: default; }
        .pagination li a.active:hover {
          background-color: #929496; }
    .pagination li.prev a:before {
      content: '<'; }
    .pagination li.next a:before {
      content: '>'; }

.header {
  background-color: #fff;
  padding: 15px 31px 10px;
  border-bottom: 1px solid #ececec;
  font-size: 14px; }
  .header__left {
    float: left; }
  .header__right {
    float: right; }
  .header__link {
    color: #111111;
    text-decoration: none; }
    .header__link:hover {
      text-decoration: underline; }
    .header__link [class*="icon-"] {
      margin-right: 6px; }
  .header .lang {
    margin-left: 37px; }

.account [class*="icon-"] {
  margin-right: 6px; }

.lang {
  display: inline-block;
  background-color: #f8f8f8;
  padding: 14px 10px;
  margin: -14px 0;
  position: relative; }
  .lang__current {
    cursor: pointer; }
  .lang.open .lang__list {
    display: block; }
  .lang__flag {
    margin-right: 8px;
    width: 23px; }
  .lang__list {
    display: none;
    background-color: #f8f8f8;
    list-style: none;
    padding: 16px 10px;
    margin: 0;
    width: 100%;
    left: 0;
    right: 0;
    position: absolute; }
  .lang__link {
    color: #111111;
    text-decoration: none; }
    .lang__link:hover {
      text-decoration: underline; }

.logo {
  display: inline-block;
  margin-bottom: 34px; }

[class*="icon-"] {
  display: inline-block;
  vertical-align: middle; }

.icon-attention:before {
  content: url("../img/attention.png"); }

.icon-user:before {
  content: url("../img/user.png"); }

.icon-quest:before {
  content: url("../img/question-mark.png"); }

.icon-quest-lg:before {
  content: url("../img/question-mark-lg.png"); }

.icon-arrow-right:before {
  content: url("../img/next.png"); }

.nav {
  margin: 0;
  padding: 0;
  list-style: none; }
  .nav__item {
    margin-bottom: 20px; }
    .nav__item.active > .nav__link {
      font-weight: 700; }
      .nav__item.active > .nav__link:hover {
        text-decoration: none; }
  .nav__link {
    font-family: "Futura Futuris C";
    font-weight: 400;
    font-size: 18px;
    color: #111111;
    text-decoration: none; }
    .nav__link:hover {
      text-decoration: underline; }
  .navSub {
    list-style: none;
    padding: 0 0 0 10px;
    margin: 13px 0; }
    .navSub__item.active {
      position: relative; }
      .navSub__item.active:before {
        content: '';
        position: absolute;
        background-color: #929496;
        top: 0;
        left: -50px;
        right: 6px;
        height: 100%;
        -webkit-transform: skewX(-22deg);
        -ms-transform: skewX(-22deg);
        transform: skewX(-22deg); }
      .navSub__item.active .navSub__link {
        position: relative;
        color: #ffffff;
        cursor: default; }
        .navSub__item.active .navSub__link:hover {
          text-decoration: none; }
    .navSub__link {
      color: #8c0a14;
      font-size: 14px;
      font-family: "Arial";
      text-decoration: none;
      padding: 7px 10px 7px 0;
      display: inline-block; }
      .navSub__link:hover {
        text-decoration: underline; }

.page__title {
  font-family: "Futura Futuris C";
  font-weight: 700;
  margin: 8px 0 40px;
  font-size: 30px; }
  .page__titleSecond {
    font-family: "Futura Futuris C";
    font-weight: 700;
    font-size: 24px; }
  .page__titleThird {
    font-family: "Futura Futuris C";
    font-weight: 700;
    font-size: 18px; }

.filters {
  position: relative;
  margin-bottom: 28px; }
  .filters:before {
    content: '';
    position: absolute;
    left: -29px;
    right: -29px;
    top: 0;
    height: 50px;
    background-color: #f8f8f8; }
  .filters__left {
    float: left; }
  .filters__item {
    float: left;
    position: relative; }
  .filters__toggle {
    font-size: 14px;
    padding: 16px 40px 18px 16px;
    background: url("../img/down-arrow.png") no-repeat right 19px top 22px;
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
    cursor: pointer; }
    .filters__toggle.active {
      font-weight: 700;
      background: #ececec url("../img/up-arrow.png") no-repeat right 19px top 22px; }
  .filters__drop {
    background-color: #ececec;
    width: 100%;
    padding: 0 21px;
    height: 0;
    overflow: hidden;
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s; }
    .filters__drop.open {
      height: auto;
      padding: 21px; }
  .filters__right {
    float: right; }
  .filters__selectDrop.select2-container--open .select2-dropdown {
    width: auto !important;
    max-width: 300px; }
  .filters__selectDrop .select2-results__option {
    overflow: hidden;
    white-space: nowrap;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis; }
  .filters__search {
    position: relative;
    float: left;
    margin: 10px 12px; }
    .filters__search:before {
      content: url("../img/searcher.png");
      position: absolute;
      top: 6px;
      right: 7px; }
    .filters__search input {
      border-color: #fff;
      border-radius: 0;
      width: 160px; }
  .filters .select2-container {
    display: inline-block;
    margin-right: 20px;
    width: auto !important; }
    .filters .select2-container--default .select2-selection--single {
      border: none;
      background-color: transparent;
      height: auto;
      outline: 0; }
      .filters .select2-container--default .select2-selection--single .select2-selection__rendered {
        color: #111111;
        font-size: 14px;
        -o-text-overflow: initial;
        text-overflow: initial;
        padding-left: 0;
        height: auto;
        padding-right: 24px;
        padding: 10px 24px 10px 0;
        outline: 0; }
      .filters .select2-container--default .select2-selection--single .select2-selection__placeholder {
        color: #111111; }

.select2-container--open .select2-selection__arrow {
  background: url("../img/up-arrow.png") no-repeat center !important; }

.select2-container--default .select2-results__option {
  padding: 10px; }
  .select2-container--default .select2-results__option--highlighted[aria-selected] {
    background-color: #929496; }

.select2-container--default .select2-dropdown {
  background-color: #ececec;
  font-size: 14px;
  border-color: #929496;
  border-radius: 0; }

.select2-container--default .select2-selection--single {
  border: none;
  border-bottom: 1px solid #aaa;
  border-radius: 0;
  cursor: pointer !important;
  min-height: auto; }
  .select2-container--default .select2-selection--single .select2-selection__arrow {
    background: url("../img/down-arrow.png") no-repeat center;
    height: 100%; }
    .select2-container--default .select2-selection--single .select2-selection__arrow b {
      display: none; }

.select2-container--default .select2-selection--multiple {
  border: none;
  border-bottom: 1px solid #aaa;
  border-radius: 0;
  cursor: pointer !important;
  min-height: auto; }

.select2-container--default .select2-selection--multiple .select2-selection__choice {
  border: none;
  color: #000;
  padding: 0;
  font-size: 14px;
  display: inline;
  background-color: transparent; }
  .select2-container--default .select2-selection--multiple .select2-selection__choice:after {
    content: ', '; }
  .select2-container--default .select2-selection--multiple .select2-selection__choice:nth-last-child(2):after {
    content: ''; }

.select2-container--default .select2-selection--multiple .select2-selection__choice__remove {
  display: none; }

.js_multiplecheckwrap .select2-container--default .select2-selection--multiple {
  border: none;
  border-bottom: 1px solid #aaa;
  border-radius: 0;
  cursor: pointer !important;
  width: 520px;
  overflow-y: auto;
  min-height: auto; }

.js_multiplecheckwrap .select2-search__field {
  display: none; }

.js_multiplecheckwrap .select2-selection__rendered {
  padding: 0 !important; }

.js_multiplecheckwrap .select2-search.select2-search--inline {
  position: relative;
  display: inline-block; }

.js_multiplecheckwrap .select2-container .select2-selection--multiple .select2-selection__rendered {
  white-space: normal;
  margin-top: 15px; }

.form__select .select2-container--default .select2-selection--single {
  border: none;
  border-bottom: 1px solid #aaa;
  border-radius: 0;
  cursor: pointer !important;
  width: 100%;
  min-height: auto; }

.form__select .select2-container--default .select2-selection--single .select2-selection__arrow {
  display: none; }

.alphabet {
  list-style: none;
  padding: 0;
  margin: 0; }
  .alphabet > li {
    float: left;
    background-color: #ffffff;
    margin-right: 1px;
    margin-bottom: 1px; }
    .alphabet > li > a {
      color: #111111;
      text-decoration: none;
      text-transform: uppercase;
      display: block;
      font-weight: 400;
      width: 28px;
      line-height: 28px;
      text-align: center; }

.inLine__item {
  padding: 10px 0 40px;
  border-bottom: 1px solid #ececec;
  margin-bottom: 30px; }

.inLine__img {
  float: left;
  border: 1px solid #ececec;
  margin-right: 41px;
  width: 191px;
  text-align: center; }
  .inLine__img img {
    max-width: 96%;
    max-height: 96%;
    vertical-align: middle; }
  .inLine__img:before {
    content: '';
    display: inline-block;
    height: 128px;
    vertical-align: middle; }

.inLine__action {
  float: right;
  min-width: 180px; }
  .inLine__action .btn {
    width: 100%; }

.inLine__center {
  overflow: hidden;
  margin-top: -4px; }

.inLine__name {
  font-family: "Futura Futuris C";
  font-weight: 700;
  line-height: 1.33;
  font-size: 18px;
  margin-bottom: 19px; }

.inLine__country {
  font-size: 14px;
  margin-bottom: 7px; }

.inLine__text {
  font-size: 15px;
  margin-bottom: 17px;
  font-family: "Roboto";
  font-weight: 300; }
  .inLine__text p {
    margin: 8px 0; }

.inLine__labelItem {
  font-size: 13px;
  display: inline-block;
  padding: 3px 11px 4px 21px;
  border-radius: 12px;
  background-color: #ececec;
  position: relative;
  margin-right: 9px;
  vertical-align: top;
  color: #333333;
  text-decoration: none; }
  .inLine__labelItem:before {
    content: '';
    width: 7px;
    height: 7px;
    background-color: #ffffff;
    border-radius: 7px;
    position: absolute;
    top: 8px;
    left: 8px; }
  .inLine__labelItem:hover {
    background-color: #f4f4f4;
    color: #424242; }

.footer {
  position: absolute;
  left: 0;
  right: 0;
  width: 100%;
  max-width: 210px;
  padding: 30px;
  bottom: 15px;
  color: #666666;
  font-size: 14px;
  line-height: 1.4; }
  .footer .container_center {
    padding-top: 10px;
    padding-bottom: 10px; }

.notice {
  font-size: 14px;
  margin-top: 30px;
  margin-bottom: 37px; }
  .notice__item {
    padding-bottom: 10px; }
  .notice__date {
    padding-top: 3px;
    display: inline-block;
    padding-right: 7px;
    float: left;
    color: #666666; }
  .notice__icon {
    float: left; }
    .notice__icon .fa {
      font-size: 19px;
      color: #f3bbbf;
      padding-right: 7px; }
  .notice__text {
    padding-top: 3px; }
  .notice__link {
    color: #8c0a14;
    padding-top: 10px;
    display: inline-block;
    text-decoration: none;
    margin-bottom: 10px; }
    .notice__link:hover {
      text-decoration: underline; }

.plate {
  display: block;
  -webkit-transition: all .5s;
  -o-transition: all .5s;
  transition: all .5s;
  border: 1px solid #ececec;
  padding: 20px 30px 28px 30px;
  text-decoration: none;
  min-height: 135px; }
  .plate__content {
    overflow: hidden;
    padding-right: 18px; }
  .plateCaption {
    color: #8c0a14;
    font-family: "Futura Futuris C";
    font-size: 18px;
    font-weight: 700; }
  .plateText {
    padding-top: 10px;
    color: #666666;
    font-family: "Arial";
    font-size: 13px;
    font-weight: 400;
    line-height: 18px; }
  .plate__icon {
    float: right; }
  .plate:hover {
    background-color: #fbeaec; }

.accordion__item {
  padding-left: 28px;
  padding-right: 28px;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  margin-left: -28px;
  margin-right: -28px; }
  .accordion__item:last-child:after {
    content: '';
    display: block;
    border-bottom: 1px solid #ececec; }
  .accordion__item.open {
    background-color: #f8f8f8; }
    .accordion__item.open .accordion__toggle {
      padding-top: 34px;
      padding-bottom: 34px;
      border-bottom: 1px solid #ececec; }
      .accordion__item.open .accordion__toggle_icon {
        top: 35px; }
      .accordion__item.open .accordion__toggle_name:after {
        content: '\f106'; }
    .accordion__item.open .accordion__content {
      height: auto;
      margin-bottom: 10px;
      border-bottom: 1px solid transparent; }

.accordion__toggle {
  border-top: 1px solid #ececec;
  cursor: pointer;
  padding: 17px 0;
  color: #111111;
  position: relative;
  -webkit-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s; }
  .accordion__toggle_name {
    display: inline-block;
    font-family: "Futura Futuris C";
    font-size: 24px;
    font-weight: 700; }
    .accordion__toggle_name:after {
      content: "\f107";
      font: normal normal normal 25px/1 FontAwesome;
      color: #8c0a14;
      padding-left: 5px; }
  .accordion__toggle_icon {
    position: absolute;
    right: 28px;
    top: 20px;
    width: 18px;
    color: #929496;
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s; }
    .accordion__toggle_icon:after {
      font: normal normal normal 22px/1 FontAwesome;
      content: "\f014"; }
    .accordion__toggle_icon:hover {
      color: #8c0a14; }
  .accordion__toggle.active:before {
    display: none; }
  .accordion__toggle.active .accordion__toggle_name:after {
    content: "\f106"; }

.accordion__content {
  -webkit-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;
  height: 0;
  overflow: hidden;
  font-weight: 400;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
  padding: 0; }

.accordion__check {
  padding-bottom: 10px; }
  .accordion__check label {
    color: #111111 !important;
    display: inline-block !important;
    padding-left: 5px;
    font-family: "Arial";
    font-size: 14px  !important;
    font-style: normal !important; }

.table {
  width: 100%;
  margin-bottom: 45px;
  font-size: 14px;
  color: #111111;
  text-align: left;
  border-collapse: collapse; }
  .table_bottom td {
    vertical-align: bottom; }
  .table_border td {
    border-bottom: 1px solid #ececec; }
  .table thead {
    background-color: #f8f8f8; }
  .table th {
    line-height: 20px;
    padding: 23px 20px 25px;
    font-weight: 400; }
  .table td {
    padding: 14px 20px 8px; }
  .table__middle {
    vertical-align: middle !important; }
  .table__center {
    text-align: center; }
  .table__right {
    text-align: right; }
  .table .fa-plus {
    color: #929496;
    padding-right: 6px; }
  .table .form__select {
    padding-bottom: 0; }
    .table .form__select .select2-container {
      width: 100% !important; }

.cardTable th:nth-child(n+2), .cardTable td:nth-child(n+2) {
  text-align: right; }

.cardTable td {
  border-bottom: 1px solid #ececec; }

.fileupload {
  display: inline-block;
  width: 144px;
  height: 40px;
  line-height: 40px;
  background: #ececec;
  border-radius: 3px;
  padding: 0 4px;
  text-align: center;
  color: #8c0a14;
  font-size: 14px;
  font-weight: 400;
  -webkit-transition: all .5s;
  -o-transition: all .5s;
  transition: all .5s; }
  .fileupload:hover {
    background-color: #929496; }
  .fileupload input[type="file"] {
    display: none; }
  .fileupload span {
    color: #8c0a14;
    width: 100%;
    text-align: center;
    height: 100%;
    cursor: pointer; }

.filename {
  display: inline-block;
  margin-left: 15px; }

.datepicker {
  background-color: #ececec;
  padding: 10px 0;
  padding-left: 15px;
  width: 35%;
  float: right; }
  .datepicker input {
    background-color: #ececec;
    border: none;
    width: 80%;
    font-weight: 700;
    cursor: pointer; }
  .datepicker:after {
    position: absolute;
    content: "\f107";
    font: normal normal normal 18px/1 FontAwesome;
    display: inline-block;
    -webkit-transition: all .4s;
    -o-transition: all .4s;
    transition: all .4s;
    right: 15px;
    top: 15px;
    color: #8c0a14; }

.modal {
  display: none;
  overflow: auto;
  overflow-y: scroll;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1050;
  -webkit-overflow-scrolling: touch;
  outline: 0; }
  .modal-open {
    overflow: hidden; }
  .modal-close {
    position: absolute;
    width: 21px;
    height: 21px;
    right: 6px;
    top: 6px; }
    .modal-close:before, .modal-close:after {
      content: '';
      position: absolute;
      display: block;
      width: 20px;
      border-top: 1px solid #111111;
      top: 10px; }
    .modal-close:before {
      -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      transform: rotate(45deg); }
    .modal-close:after {
      -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
      transform: rotate(-45deg); }
    .modal-close:hover {
      opacity: .8; }
  .modal.fade .modal-dialog {
    -webkit-transform: translate(0, -25%);
    -ms-transform: translate(0, -25%);
    transform: translate(0, -25%);
    -webkit-transition: -webkit-transform 0.3s ease-out;
    transition: -webkit-transform 0.3s ease-out;
    -o-transition: transform 0.3s ease-out;
    transition: transform 0.3s ease-out;
    transition: transform 0.3s ease-out, -webkit-transform 0.3s ease-out; }
  .modal.in .modal-dialog {
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0);
    position: relative; }
  .modal-dialog {
    position: relative;
    width: auto;
    margin: 10px auto;
    max-width: 690px; }
  .modal-content {
    position: relative;
    background-color: #fff;
    border: 1px solid #999;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 6px;
    -webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
    box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
    background-clip: padding-box;
    outline: 0;
    padding: 30px 32px; }
  .modal-backdrop {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1040;
    background-color: #000; }
    .modal-backdrop.fade {
      opacity: 0;
      filter: alpha(opacity=0); }
    .modal-backdrop.in {
      opacity: .5;
      filter: alpha(opacity=50); }
  .modal-header {
    padding: 0 0 15px;
    border-bottom: 1px solid #e5e5e5;
    margin-bottom: 20px;
    min-height: 16.42857143px;
    font-size: 18px; }
    .modal-header .close {
      margin-top: -2px; }
  .modal-title {
    color: #8c0a14;
    margin: 0;
    line-height: 1.42857143; }
  .modal-body {
    position: relative;
    padding: 0; }
  .modal-footer {
    margin-top: 20px;
    padding: 19px 0 0px;
    border-top: 1px solid #e5e5e5; }
    .modal-footer .btn + .btn {
      margin-left: 5px;
      margin-bottom: 0; }
    .modal-footer .btn-group .btn + .btn {
      margin-left: -1px; }
    .modal-footer .btn-block + .btn-block {
      margin-left: 0; }

.returning {
  display: block;
  color: #8c0a14;
  font-family: "Arial";
  font-size: 14px;
  font-weight: 400;
  text-decoration: none;
  padding-bottom: 5px; }
  .returning__icon {
    color: #929496;
    padding-right: 2px; }

.helptheme {
  font-family: "Arial";
  margin-top: 18px;
  font-size: 14px;
  color: #111111;
  font-weight: 400; }
  .helptheme_caption {
    font-family: "Futura Futuris C";
    font-size: 30px;
    font-weight: 700;
    padding: 12px 250px 21px 0; }
  .helptheme__details {
    font-size: 14px;
    margin-top: -28px;
    margin-bottom: 36px; }
    .helptheme__details div {
      padding-right: 15px; }
    .helptheme__details_date {
      display: inline-block;
      color: #666666;
      line-height: 24px; }
    .helptheme__details_text {
      display: inline-block; }
    .helptheme__details_act {
      display: inline-block; }
  .helptheme__messages {
    font-size: 14px; }
    .helptheme__messages_block {
      border-top: 1px solid #ececec;
      padding-top: 18px;
      padding-bottom: 26px; }
      .helptheme__messages_block_caption {
        font-weight: 700;
        line-height: 24px; }
      .helptheme__messages_block_date {
        display: block; }
      .helptheme__messages_block_text {
        line-height: 24px;
        padding-top: 2px; }
      .helptheme__messages_block_img {
        padding-top: 27px; }
    .helptheme__messagesForm {
      background-color: #f8f8f8;
      -webkit-box-sizing: content-box;
      box-sizing: content-box;
      margin-left: -30px;
      margin-right: -30px;
      padding: 30px; }
      .helptheme__messagesForm .form__label {
        font-weight: 600;
        margin-bottom: 16px; }
        .helptheme__messagesForm .form__label + textarea {
          margin-top: -18px;
          height: 21px;
          min-height: 21px;
          padding: 2px 0; }
    .helptheme__messagesItem_left {
      float: left;
      width: 70%;
      margin-right: 5%; }
    .helptheme__messagesItem_right {
      float: right;
      width: 25%; }
  .helptheme__action {
    margin-top: 15px; }

.form__upload {
  position: relative; }
  .form__upload input[type=file] {
    position: absolute;
    display: none; }
  .form__uploadBtn {
    background-color: #ececec;
    padding: 13px 20px;
    display: inline-block;
    color: #8c0a14;
    font-family: "Arial";
    font-size: 14px;
    cursor: pointer; }
    .form__uploadBtn:hover {
      background-color: white; }

.progrpr {
  font-family: "Arial";
  margin-top: 17px;
  margin-bottom: 90px;
  font-size: 14px;
  color: #111111;
  font-weight: 400; }
  .progrpr__title__free {
    font-size: 18px;
    margin-bottom: 30px; }
  .progrpr__btn {
    margin-top: -20px;
    padding-bottom: 48px;
    border-bottom: 1px solid #929496; }
  .progrpr__title {
    max-width: 820px; }
  .progrpr img[style*="float: left"] {
    padding-right: 30px;
    padding-bottom: 30px; }
  .progrpr__content {
    margin-top: 34px; }
    .progrpr__content h1, .progrpr__content h2, .progrpr__content h3, .progrpr__content h4, .progrpr__content h5 {
      color: #111111;
      font-family: "Futura Futuris C";
      font-weight: 700; }
    .progrpr__content h2 {
      font-size: 24px;
      margin-bottom: 22px; }
    .progrpr__content p {
      display: block;
      line-height: 24px;
      font-size: 14px;
      padding-bottom: 10px;
      margin: 0; }
    .progrpr__content img {
      margin-top: 22px;
      margin-bottom: 15px; }
    .progrpr__content span {
      margin-top: 22px;
      color: #666666;
      max-width: 183px;
      display: inline-block;
      margin-left: 30px;
      line-height: 20px; }
    .progrpr__content h3 {
      font-family: "Futura Futuris C";
      font-weight: 700;
      font-size: 18px; }
  .progrpr__list {
    margin-top: -16px; }
    .progrpr__list__ul {
      padding-left: 15px; }
    .progrpr__list__li {
      color: #8c0a14; }
      .progrpr__list__li__text {
        color: #111111;
        line-height: 36px; }

.home__wrapbtn {
  display: inline-block;
  position: relative;
  margin-bottom: 35px; }

.home__help {
  background-color: #f8f8f8;
  padding: 22px 0 25px 30px; }
  .home__help__img {
    float: left;
    padding-right: 14px; }
  .home__help__content__text {
    padding-top: 6px;
    font-size: 14px;
    font-weight: 400; }

.form {
  margin-top: 25px;
  font-family: "Arial";
  color: #999999; }
  .form__info {
    font-style: italic;
    font-size: 12px;
    font-weight: 400;
    line-height: 25px;
    cursor: pointer;
    color: #999999; }
  .form__label {
    color: #111111;
    font-size: 14px;
    font-weight: 700; }
  .form__field {
    width: 100%;
    margin-bottom: 18px !important; }
    .form__field input {
      padding: 4px 0;
      background-color: transparent; }
    .form__field .select2, .form__field .select2-container, .form__field .select2-container--default, .form__field .select2-container--focus {
      margin-top: 10px;
      width: 100% !important;
      border: none; }
    .form__field .select2-selection.select2-selection--single {
      border: none;
      background-color: transparent;
      border-bottom: 1px solid #929496;
      border-radius: 0; }
    .form__field .select2-selection__rendered {
      padding-left: 0 !important;
      color: #111111 !important; }
      .form__field .select2-selection__rendered span {
        color: #111111 !important;
        font-size: 14px;
        font-weight: 700; }
    .form__field .select2-selection__placeholder:after {
      width: 12px;
      height: 8px;
      display: inline-block;
      content: "\f107";
      font: normal normal normal 16px/1 FontAwesome;
      color: #8c0a14;
      padding-left: 10px; }
    .form__field .select2-selection__arrow {
      display: none !important; }
  .form__logo {
    width: 100%;
    margin-top: 5px; }
    .form__logoCaption {
      color: #111111;
      font-size: 14px;
      font-weight: 700;
      line-height: 40px;
      padding-bottom: 5px; }
  .form__button {
    margin-top: 0;
    width: 100%;
    display: block;
    background-color: #f8f8f8;
    padding: 20px;
    margin-left: 30px; }
  .form__select {
    margin-top: 15px;
    padding-bottom: 15px; }
    .form__select label {
      display: block; }

.js_select {
  position: static !important;
  left: 0 !important;
  top: -36px !important;
  min-width: 100% !important; }
  .js_select .select2-results__option[aria-selected="false"] {
    padding-left: 10px; }
    .js_select .select2-results__option[aria-selected="false"]:before {
      margin-right: 10px;
      border-radius: 3px;
      content: '';
      padding: 2px;
      content: "\f00c";
      font: normal normal normal 14px/1 FontAwesome;
      line-height: 18px;
      color: #ffffff;
      background-color: #ffffff;
      border: 2px solid #929496; }
  .js_select .select2-results__option[aria-selected="true"] {
    padding-left: 10px; }
    .js_select .select2-results__option[aria-selected="true"]:before {
      margin-right: 10px;
      border-radius: 3px;
      content: '';
      padding: 2px;
      content: "\f00c";
      font: normal normal normal 16px/1 FontAwesome;
      line-height: 18px;
      color: #ffffff;
      background-color: #932b31; }
  .js_select .select2-results__option {
    color: #111111;
    font-size: 14px;
    font-family: "Arial";
    font-weight: 400; }
  .js_select .select2-results__options {
    max-height: 100% !important; }
  .js_select .select2-dropdown.select2-dropdown--above {
    border: none;
    min-width: 100%;
    position: static; }
  .js_select .select2-container--default.select2-dropdown {
    width: 100%; }
  .js_select .select2-dropdown {
    position: static !important; }
  .js_select .select2-search.select2-search--inline {
    position: relative; }
    .js_select .select2-search.select2-search--inline:after {
      position: absolute;
      content: "\f107";
      font: normal normal normal 18px/1 FontAwesome;
      display: none;
      -webkit-transition: all .4s;
      -o-transition: all .4s;
      transition: all .4s;
      left: 0;
      top: 7px;
      color: #8c0a14; }
  .js_select .select2-dropdown.select2-dropdown--below {
    min-width: 100% !important;
    border: none; }

.badges .select {
  margin-top: 15px; }

.badges label {
  color: #111111;
  font-size: 14px;
  font-weight: 700;
  font-style: normal; }

.badges__button {
  background-color: #f8f8f8;
  padding: 20px; }

.badges__gender {
  margin-top: 15px;
  padding-bottom: 15px; }
  .badges__gender span {
    color: #111111;
    font-family: "Arial";
    font-size: 14px;
    font-weight: 700; }
  .badges__gender label {
    font-weight: 400; }
  .badges__gender_input {
    padding-left: 28px;
    display: inline-block; }
    .badges__gender_input label {
      color: #666666;
      font-size: 14px;
      padding-left: 3px;
      font-style: normal; }
    .badges__gender_input input:checked + label {
      padding: 0;
      color: #111111;
      width: 18px;
      height: 18px; }
    .badges__gender_input input {
      border: none; }

.badges__access {
  margin-top: 20px; }
  .badges__access label {
    color: #666666;
    font-size: 14px;
    padding-left: 3px;
    font-style: normal;
    font-weight: 400; }
  .badges__access input:checked + label {
    padding: 0;
    color: #111111; }
  .badges__access input {
    border: none; }

.badges__btnadd {
  margin: 40px 0;
  border-radius: 0 !important; }

.badges .select2-container--default .select2-selection--single .select2-selection__rendered {
  font-size: 14px;
  line-height: 22px; }

.badges .select2-container .select2-selection--single {
  height: 22px; }

.badges .select2-container--default .select2-selection--single .select2-selection__placeholder:after {
  display: none; }

.select__label {
  display: block; }
  .select__label:after {
    display: inline-block;
    vertical-align: middle;
    content: "\f107";
    font: normal normal normal 16px/1 FontAwesome;
    color: #8c0a14;
    padding-left: 10px;
    padding-right: 10px; }

.terms__header {
  padding-top: 32px;
  padding-bottom: 15px;
  border-bottom: 1px solid #ececec; }

.terms__caption {
  font-weight: 700; }

.terms__data {
  font-size: 14px; }

.terms__item {
  padding: 16px 0;
  border-bottom: 1px solid #ececec; }

.terms__left {
  font-size: 14px;
  overflow: hidden;
  padding-right: 45px; }

.terms__right {
  font-size: 14px;
  position: relative;
  float: right; }
  .terms__right:before {
    position: absolute;
    content: '';
    display: inline-block;
    width: 20px;
    height: 20px;
    background-image: url(../img/clock.png);
    left: -28px;
    bottom: 1px; }

.help__text {
  margin-bottom: 26px;
  color: #111111;
  font-family: "Arial";
  font-size: 14px;
  font-weight: 400;
  line-height: 24px; }

.helpTable {
  margin-top: 41px;
  margin-bottom: 40px;
  width: 100%;
  font-size: 14px; }
  .helpTable thead {
    background-color: #f8f8f8; }
    .helpTable thead th {
      text-align: left;
      font-weight: 400;
      padding: 28px 10px 31px 10px; }
      .helpTable thead th:nth-child(1) {
        width: 75px;
        text-align: center; }
      .helpTable thead th:nth-child(3) {
        width: 160px; }
      .helpTable thead th:nth-child(4) {
        width: 100px;
        text-align: center; }
  .helpTable tbody td {
    padding: 15px 10px; }
    .helpTable tbody td:nth-child(1) {
      text-align: center; }
    .helpTable tbody td:nth-child(4) {
      text-align: center; }
    .helpTable tbody td:nth-child(3) {
      color: #666666; }
    .helpTable tbody td .txt_danger {
      color: #8c0a14; }
    .helpTable tbody td .inactive {
      color: #666666; }

.divide__two {
  border-top: 1px solid #ececec;
  margin: 30px -28px 0 -28px;
  padding-top: 34px; }

.divide_date {
  border-bottom: 1px solid #929496;
  padding-bottom: 25px;
  margin-bottom: 30px; }

.divide__item {
  margin-top: 30px; }
  .divide__item_time {
    display: block;
    padding-bottom: 15px;
    font-size: 14px; }
  .divide__item_two {
    padding: 0 29px; }
  .divide__item_caption {
    max-width: 606px; }

.divide__prise {
  position: relative;
  float: left;
  margin: 15px 0 0 12px; }
  .divide__prise_input {
    display: inline-block;
    margin-left: 25px; }
  .divide__prise input:checked + label {
    padding: 0;
    color: #111111;
    width: 18px;
    height: 18px; }
  .divide__prise input:checked {
    border-radius: 4px !important; }
  .divide__prise input {
    border: none; }
  .divide__prise label {
    cursor: pointer;
    font-size: 14px;
    color: #666666; }

/*# sourceMappingURL=style.css.map */