/*
//  ==========================
//  Evgeniy Ivanov
//  Email: busforward@gmail.com
//  Skype: ivanov_ea
//  ==========================
 */

@import 'mixins/mixin';
// Fonts
// @import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,900);
// @import url(https://fonts.googleapis.com/css?family=Lora);
@import url('https://fonts.googleapis.com/css?family=Roboto:300&subset=cyrillic');
@include font-face("Futura Futuris C", "../fonts/FuturaFuturisC", normal, normal);
@include font-face("Futura Futuris C", "../fonts/FuturaFuturisC-Bold", bold, normal);


 // Import files
@import 'variables/variables';
@import 'core/reset';
@import 'core/form';
@import 'core/grid';


// Elements color ==========================================================
// Example for button 
// --------------------------
// for html - btn__primary, btn__success etc...
// --------------------------
// for scss 
// .btn{
// 	@each $status, $color in $el_bg_colors {
// 		&__#{$status} {
// 			background: $color;
// 		}
// 	}
// }


// End @mixin and variables


// Main wrappers =====================================

.wrapper {
	font-size: $main_font_size;
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto;
    padding-left: 330px;
}

.aside {
	position: fixed;
	width: 330px;
    height: 100%;
	overflow-x: auto;
	z-index: 10;
	&__wrapper {
		padding: 30px;
		min-height: 100%;
		position: relative;
		background-color: #ececec;
		padding-bottom: 150px;
		
	}
}

.container_center {
	max-width: $container_width;
	min-width: $container_width;
	padding: 30px;
	margin-left: auto;
	margin-right: auto;
}

.column {
	@include columns(4, 20px, 300px);
}

// Social link
.soc {
	float: left;
	a {
		display: inline-block;
		width: 30px;
		height: 30px;
		border-radius: 50%;
		background-color: #000;
		text-align: center;
		text-decoration: none;
		@include trs(0.3s);
		&:hover {
			opacity: .8;
		}
		&:before {
			content: 'soc';
			color: #fff;
			text-decoration: none;
		}
	}
}

.copy {
	
}

// Breadcrumb ==================================================================
.breadcrumb {
	margin: 15px 0;
	padding: 0;
	li {
		display: inline-block;
		vertical-align: baseline;
		&:not(:first-child) {
			&:before {
				content: '/';
				display: inline-block;
			}
		}
		&:last-child {
			a {
				cursor: default;
				text-decoration: none;
			}
		}
		
		a {
			font-size: 12px;
		}
	}
}

// Pagination ==================================================================
.pagination {
	margin: 25px 0;
	padding: 0;
	li {
		display: inline-block;
		a {
			display: block;
			text-align: center;
		}
		&.prev, &.next {
			a {
				&:before {					
				}
			}
		}
		&.prev {
			a {
				&:before {
					content: '<';
					
				}
			}
		}
		&.next {
			a {
				&:before {
					content: '>';
					
				}
			}
		}
	}
}

/* Header
 ----------------------------------------------------------------------------- */
.header {
	// background-color: #ccc;
	padding: 16px 31px 12px;
	border-bottom: 1px solid #ececec;
	font-size: 14px;
	@extend %clear_a;
	&__left {
		float: left;
	}
	&__right {
		float: right;
	}
	&__link {
		color: $main_color;
		text-decoration: none;
		&:hover {
			text-decoration: underline;
		}
		[class*="icon-"] {
			margin-right: 8px;
		}
	}
	.lang {
		margin-left: 15px;
	}
}

.account {
	[class*="icon-"] {
		margin-right: 8px;
	}
}

[class*="icon-"] {
	display: inline-block;
	vertical-align: middle;
}
.icon {
	&-attention {
		&:before {
			content: url('../img/attention.png');
		}
	}
	&-user {
		&:before {
			content: url('../img/user.png');
		}
	}
	&-quest {
		&:before {
			content: url('../img/question-mark.png');
		}
	}
	&-quest-lg {
		&:before {
			content: url('../img/question-mark-lg.png');
		}
	}
}

$pm: 16px;
.lang {
	display: inline-block;
	background-color: #f8f8f8;
	padding: $pm 10px;
	margin: -$pm 0;
	position: relative;
	&__current {
		cursor: pointer;
	}
	&.open {
		.lang__list {
			display: block;
		}
	}
	&__flag {
		margin-right: 8px;
		width: 23px;
	}
	&__list {
		display: none;
		background-color: #f8f8f8;
		list-style: none;
		padding: 16px 10px;
		margin: 0;
		width: 100%;
		left: 0;
		right: 0;
		position: absolute;
	}
	&__item {

	}
	&__link {
		color: $main_color;
		text-decoration: none;
		&:hover {
			text-decoration: underline;
		}
	}
}

.logo {
	// background-color: #ddd;
	// float: left;
	// width: 150px;
	display: inline-block;
	margin-bottom: 40px;
}

// stiky menu
.stiky {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
}

/* Navbar
-------------------------------------------------------------------------------*/
.nav {
	margin: 0;
	padding: 0;
	list-style: none;
	// overflow: hidden;
	// text-align: right;
	&__item {
		// display: block;
		margin-bottom: 20px;
	}
	&__link {
		font-family: "Futura Futuris C";
		font-weight: 400;
		font-size: 18px;
		color: $main_color;
		text-decoration: none;
	}
}

/* Middle
 ----------------------------------------------------------------------------- */
.main__content {
	// padding-bottom: $footer_height;
	@extend %clear_a;
}


/* Footer
 ----------------------------------------------------------------------------- */
.footer {
	position: absolute;
	left: 0;
	right: 0;
	width: 100%;
	max-width: 210px;
	padding: 30px;
	bottom: 15px;
	color: $color_success;
	font-size: 14px;
	line-height: 1.4;
	// height: $footer_height;
	// background: #BFF08E;
	@extend %clear_all;
	.container_center {
		padding-top: 10px;
		padding-bottom: 10px;
	}
}

/* Responsive styles
----------------------------------------------------------------------------- */
// max-width: 1200px ===========================================================
@media (max-width: $breakpoint-xlarge) {
}

// max-width: 960px ===========================================================
@media (max-width: $breakpoint-large) {
	
}

// max-width: 760px ===========================================================
@media (max-width: $breakpoint-medium) {
	
}

// max-width: 480px ===========================================================
@media (max-width: $breakpoint-small) {
	
}


