aside.aside
	.aside__wrapper
		a.logo(href="/")
			img(src="img/logo.png", alt="")

		nav.nav_aside
			ul.nav
				li.nav__item.active
					a.nav__link(href="#") Профиль компании
					ul.navSub
						li.navSub__item.active
							a.navSub__link(href="#") Карточка компании
						li.navSub__item
							a.navSub__link(href="#") Контакты компании
						li.navSub__item
							a.navSub__link(href="#") Мой диск
				li.nav__item
					a.nav__link(href="#") Загрузки
				li.nav__item
					a.nav__link(href="#") Формы
				li.nav__item
					a.nav__link(href="#") Заказы
				li.nav__item
					a.nav__link(href="#") Пропуска
				li.nav__item
					a.nav__link(href="#") Сторонние подрядчики
				li.nav__item
					a.nav__link(href="#") Встречи
				li.nav__item
					a.nav__link(href="#") Программа
				li.nav__item
					a.nav__link(href="#") Сводный список сроков

		include footer.jade
