// begin header 
header.header
	.header__left
		.account
			i.icon-user 
			|Константин Петрович
	.header__right
		a.header__link(href="#")
			i.icon-quest 
			|Помощь
		.lang
			.lang__current
				img.lang__flag(src="img/ru.png", alt="") 
				|RU
			ul.lang__list
				//- li.lang__item
				//- 	a.lang__link(href="")
				//- 		img.lang__flag(src="img/ru.png", alt="") 
				//- 		|RU
				li.lang__item
					a.lang__link(href="#")
						img.lang__flag(src="img/en.png", alt="") 
						|EN
// end header 