extends template.jade

block title
	title Помощь

block content

	h1.page__title Помощь

	.help__text Бурное развитие внутреннего туризма привело Томаса Кука к необходимости организовать поездки за границу, при этом растительный покров выбирает глубокий Дом-музей Риддера Шмидта. Винный фестиваль проходит в приусадебном музее Георгикон, там же денежная единица надкусывает языковой архипелаг. Королевство многопланово связывает традиционный эфемероид.

	button.btn.btn_warning <i class="fa fa-plus" aria-hidden="true"></i> Создать тему



	table(cellpadding="0", cellspacing="0", border="0").helpTable
		thead
			tr
				th #
				th Тема
				th Дата
				th Статус
		tbody
			tr
				td 6574
				td 
					span.txt_danger Дополнительные фильтры при поиске
				td 22.03.2018 12:05:40
				td Открыто
			tr
				td
					span.inactive 5756
				td 
					span.inactive Язык запросов
				td 22.03.2018 12:05:40
				td 
					span.inactive Закрыто
			tr
				td 5634
				td 
					span.txt_danger Автоматическое исправление запроса
				td 22.03.2018 12:05:40
				td Открыто
			tr
				td 3475
				td 
					span.txt_danger Как искать в определенном регионе
				td 22.03.2018 12:05:40
				td Открыто
			tr
				td 6734
				td 
					span.txt_danger Как найти человека
				td 22.03.2018 12:05:40
				td Открыто	
			tr
				td 6434
				td 
					span.txt_danger Страница поисковой выдачи заблокирована
				td 22.03.2018 12:05:40
				td Открыто
			tr
				td 3577
				td 
					span.txt_danger Почему вы говорите, что сайт заражен
				td 22.03.2018 12:05:40
				td Открыто


	table(cellpadding="0", cellspacing="0", border="0").table.table_border.table_bottom
		thead
			tr
				th #
				th Тема
				th Дата
				th Статус
				th Статус
		tbody
			tr
				td.table__middle 123
				td 
					.form__row
						.form__label Label
						input(type="text")
				td 
					.form__row.form__select
						.select__label.form__label Select
						select()
							option(value="")
							option(value="") option 1
							option(value="") option 2
							option(value="") option 3
							option(value="") option 4
				td 
					.form__row
						input(type="text")
				td 
					.form__row
						input(type="text")
			tr
				td.table__middle 123
				td 
					.form__row
						.form__label Label
						input(type="text")
				td 
					.form__row
						input(type="text")
				td 
					.form__row.form__select
						.select__label.form__label Select
						select()
							option(value="")
							option(value="") option 1
							option(value="") option 2
							option(value="") option 3
							option(value="") option 4
				td 
					.form__row.form__select
						.select__label.form__label Select
						select()
							option(value="")
							option(value="") option 1
							option(value="") option 2
							option(value="") option 3
							option(value="") option 4
			tr
				td.table__middle 123
				td 
					.form__row.form__select
						.select__label.form__label Select
						select()
							option(value="")
							option(value="") option 1
							option(value="") option 2
							option(value="") option 3
							option(value="") option 4
				td 
					.form__row
						.form__label Label
						input(type="text")
				td 
					.form__row
						input(type="text")
				td 
					.form__row
						input(type="text")

	