// Button trigger modal myModal 
// button(class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal") Click to open modal
// begin Modal myModal 
.modal.fade.myModal#myModal
	.modal-dialog
		.modal-content
			a(href="#" class="modal-close" data-dismiss="modal")
			.modal-header Header
			.modal-body Body
			.modal-footer Footer
// end modal myModal 