extends template.jade

block title
	title История

block content
	
	.progrpr

		a(href="home.html").returning 
			<i class="fa fa-reply returning__icon" aria-hidden="true"></i> Вернуться в программу
		
		h1.progrpr__title.page__title Техника Железнодорожных войск, концептуальные направления развития до 2020 года

		.progrpr__btn 
			button.btn
				<i class="fa fa-check btn_icon" aria-hidden="true"></i> Принять участие

		.progrpr__content
			h2 История военных железнодорожных войск
			p  В годы Великой Отечественной войны железнодорожные войска СССР показывали пример мужества и отваги. Перед войной они были готовы к работе, имея почти всю необходимую технику и квалифицированных специалистов. В начале боевых действий противнику удалось частично прервать работу железной дороги, но служащие ЖДВ не переставали приводить железнодорожное полотно в порядок. В среднем перерыв в перевозках составлял 6 часов. За это время бойцы восстанавливали полотно, и поезда продолжали двигаться дальше. 
			p В 1941 году ввели в эксплуатацию паровозные колонны. К каждому депо прикреплялось 15-30 паровозов с бригадами ремонтников. Личный состав размещался в четырехосных вагонах-теплушках и имел запас продовольствия на 15 суток. Это позволяло в короткие сроки добираться до места разрушения путей и быстро их восстанавливать.

			 
			img(src="img/progrpr/progrpr_img.png" style="float: left;")

			span Общее количество военных составило 4340 человек 2018

			//- div(style="clear: both")

			h3 Современная история войск

			p  В годы Великой Отечественной войны железнодорожные войска СССР показывали пример мужества и отваги. Перед войной они были готовы к работе, имея почти всю необходимую технику и квалифицированных специалистов. В начале боевых действий противнику удалось частично прервать работу железной дороги, но служащие ЖДВ не переставали приводить железнодорожное полотно в порядок. В среднем перерыв в перевозках составлял 6 часов. За это время бойцы восстанавливали полотно, и поезда продолжали двигаться дальше. 

			.progrpr__list
				
				ul.progrpr__list__ul

					li.progrpr__list__li 
						.progrpr__list__li__text Обучение для службы в войсках

					li.progrpr__list__li 
						.progrpr__list__li__text Служба в железнодорожных войсках

					li.progrpr__list__li 
						.progrpr__list__li__text Войска в годы Войны
