extends template.jade

block title
	title Сроки

block content

	h1.page__title Сводный список сроков

	.page__titleSecond Общие параметры

	.terms__header
		span.terms__caption Сроки проведения: 
		span.terms__data с 30.09.2018 20:00:00 по 16.10.2017 20:00:00

	.terms__item
		.terms__right 19.04.2018 • 20:00:00
		.terms__left Подача Устроителю заявок на участие в научно-деловой программе и на проведение собственных мероприятий

	.terms__item
		.terms__right 19.04.2018 • 20:00:00
		.terms__left Предоставление данных об образцах ВВСТ для участия в демонстрационной программе и на статической экспозиции

	.terms__item
		.terms__right 19.04.2018 • 20:00:00
		.terms__left Передача Экспонентом данных для формирования перечня экспонатов гражданского и двойного назначения

	.terms__item
		.terms__right 19.04.2018 • 20:00:00
		.terms__left Предоставление Устроителю полного перечня Соэкспонентов

	.terms__item
		.terms__right 19.04.2018 • 20:00:00
		.terms__left Подача Устроителю заявок на проведение пресс-конференций, презентаций

	.terms__item
		.terms__right 19.04.2018 • 20:00:00
		.terms__left Прием заявок на участие в Форуме
					
	.terms__item
		.terms__right 19.04.2018 • 20:00:00
		.terms__left Предоставление Устроителю информации для размещения в каталоге

	