.aside {
	position: fixed;
	width: 330px;
    height: 100%;
	overflow-x: auto;
	z-index: 10;
	&__wrapper {
		padding: 12px 30px 150px;
		min-height: 100%;
		position: relative;
		background-color: #ececec;
		
	}
}
