.page {
	&__title {
		font-family: "Futura Futuris C";
		font-weight: 700;
		margin: 8px 0 40px;
		font-size: 30px;
		&Second{
			font-family: "Futura Futuris C";
			font-weight: 700;
			font-size: 24px;
		}
		&Third{
			font-family: "Futura Futuris C";
			font-weight: 700;
			font-size: 18px;
		}
	}
}
