.table {
    width:100%;
    margin-bottom: 45px;
    font-size: 14px;
    color: $main_color;
    text-align: left;
    border-collapse: collapse;
    &_bottom {
        td {
            vertical-align: bottom;
        }
    }
    &_border {
        td {
            border-bottom: 1px solid $white_smoke;
        }
    }
    thead {
        background-color: $pale_gray;
    }
    tbody {
        
    }
    th {
        line-height: 20px;
        padding: 23px 20px 25px;
        font-weight: 400;
    }
    td {
        padding: 14px 20px 8px;
    }
    &__middle {
        vertical-align: middle !important;
    }
    &__center {
        text-align: center;
    }
    &__right {
        text-align: right;
    }
    &__center {

    }
	.fa-plus {
		color: $color_info;
		padding-right: 6px;
	}
    .form__select {
        padding-bottom: 0;
        .select2-container {
            width: 100% !important;
        }
    }
}

.cardTable {
    th,td {
        &:nth-child(n+2) {
    		text-align: right;
        }
    }
    td {
        border-bottom: 1px solid $white_smoke;
    }
}
