.form{
	margin-top: 25px;
	font-family: $main_font_family;
	color: $light_gray_«Fedex»;
	&__info {
			font-style: italic;
			font-size: 12px;
			font-weight: 400;
			line-height: 25px;
			cursor: pointer;
			color: $light_gray_«Fedex»;
	}
	&__label{
		color: $main_color;
		font-size: 14px;
		font-weight: 700;
	}
	&__field{
		width: 100%;
		margin-bottom: 18px !important;
		input{
			padding: 4px 0;
			background-color: transparent;
		}
		span{
		}
		.select2, .select2-container, .select2-container--default, .select2-container--focus{
			margin-top: 10px;
			width: 100% !important;
			border: none;
		}
		.select2-selection.select2-selection--single{
			border: none;
			background-color: transparent;
			border-bottom: 1px solid $color_info;
			border-radius: 0;
		}
		.select2-selection__rendered{
			padding-left: 0 !important;	
			color: $main_color !important;
			span{
				color: $main_color !important;
				font-size: 14px;
				font-weight: 700;
			}
		}
		.select2-selection__placeholder{
			&:after{
				width: 12px;
				height: 8px;
				display: inline-block;
				content: "\f107";
				font: normal normal normal 16px/1 FontAwesome;
				color: $color_warning;
				padding-left: 10px;
			}
		}
		.select2-selection__arrow{
			display: none !important;
		}
		span{
		    outline: none !important;
		}
	}
	&__logo{
		width: 100%;
		margin-top: 5px;
		&Caption{
			color: $main_color;
			font-size: 14px;
			font-weight: 700;
			line-height: 40px;
			padding-bottom: 5px;
		}
		input{
			display: inline-block;
			width: 50%;
			border: none;
			color: $color_success;
			font-size: 14px;
			font-weight: 400;
			text-transform: uppercase;
		}
		label{
			display: block;
		}
	}
	&__button{
		margin-top: 0;
		width: 100%;
		display: block;
		background-color: $pale_gray;
		padding: 20px;
		margin-left: 30px;
	}
	&__select{
		margin-top: 15px;
		padding-bottom: 15px;
		label{
			display: block;
		}
	}
}

.js_select{
	position: static !important;
	left: 0 !important;
	top: -36px !important;
	min-width: 100% !important;
	.select2-results__option[aria-selected="false"]{
		padding-left: 10px;
		&:before{
	   		margin-right: 10px;
		    border-radius: 3px;
			content: '';
			padding: 2px;
			content: "\f00c";
		    font: normal normal normal 14px/1 FontAwesome;
		    line-height: 18px;
		    color: $color_withe;
		    background-color: $color_withe;
		    border: 2px solid $color_info;
		}
	}
	.select2-results__option[aria-selected="true"]{
		padding-left: 10px;
		&:before{
		    margin-right: 10px;
		    border-radius: 3px;
			content: '';
			padding: 2px;
			content: "\f00c";
		    font: normal normal normal 16px/1 FontAwesome;
		    line-height: 18px;
		    color: $color_withe;
		    background-color: $color_danger;
		}
	}
	.select2-results__option{
		color: $main_color;
		font-size: 14px;
		font-family: $main_font_family;
		font-weight: 400;
	}
	.select2-results__options{
	    max-height: 100% !important;
	}
	.select2-dropdown.select2-dropdown--above{
		border: none;
		min-width: 100%;
		position: static;
	}
	.select2-container--default.select2-dropdown{
		width: 100%;
	}
	.select2-dropdown{
		position: static !important;
	}
	.select2-search.select2-search--inline{
		position: relative;
		&:after{
	    	position: absolute;
			content: "\f107";
			font: normal normal normal 18px/1 FontAwesome;
			display: none;
			transition: all .4s;
			left: 0;
			top: 7px;
			color: $color_warning;
	    }
	}
	.select2-dropdown.select2-dropdown--below{
		min-width: 100% !important;
		border: none;
	}
}

