.home{
	&__wrapbtn{
		display: inline-block;
		position: relative;
		margin-bottom: 35px;
		&_img{
			position: absolute;
			top: 9px;
			left: 10px;
		}
	}
	&__help{
		background-color: $pale_gray;
		padding: 22px 0 25px 30px;
		@extend %clear_a;
		&__img{
			float: left;
			padding-right: 14px;
		}
		&__content{
			&__text{
				padding-top: 6px;
				font-size: 14px;
				font-weight: 400;
			}
		}
	}
	
}